.section.image-backdrop::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 105%;
    height: 105%;
    filter: blur(30px);
    opacity: .65;
    background-position: center;
    background-size: cover;
    /* set the image url in the appropriate styles/sections!*.css file */
}

@media only screen and ( min-width: 1440px ){
    .section.image-backdrop::before {
        background-attachment: fixed;
    }
}

