.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: var(--default-padding);
    color: var(--primary-text-light);
    text-align: right;
    background-color: #942d3a;
}

@media only screen and ( min-width: 1440px ){
    .nav {
        padding: 60px;
        height: auto;
        background-color: transparent;
    }
}

.nav-checkbox {
    display: none;
}

.nav-label {
    cursor: pointer;
}

.nav-body {
    transition: all 100ms ease-out;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100vw;
    z-index: 100;
    text-align: left;
    padding-bottom: 40px;
    background-color: #942d3a;
    box-shadow: 0 60px 40px 10px rgba(0,0,0,0.2);
}

.nav-checkbox:checked + .nav-body {
    left: 0;
}

@media only screen and ( min-width: 1440px ) {
    .nav-body {
        top: 0;
        left: -100%;
        width: 15vw;
        padding: 40px 20px;
        background-color: transparent;
        box-shadow: none;
    }
}

.nav-list {
    font-size: 0;
}

.nav-list > li {
    font-size: 1rem;
    padding: var(--default-padding);
    transition: padding-left 400ms ease-in-out 200ms;
}

.nav-list > li:hover {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 40px;
    transition: padding-left 200ms ease-out;
}

@media only screen and (min-width: 1440px){
    .nav-list > li {
        padding: 20px 40px;
    }

    .nav-list > li:hover {
        padding-left: 60px;
        transition: padding-left 200ms ease-out;
    }
}




