#octopus-lady-section-a {
    background-color: #103338;
}

#octopus-lady-section-b {
    background-color: #0c3937;
}

#octopus-lady-section-b::before {
    background-image: url("../../assets/images/octopus-lady/octopus-lady-b.webp");
}

#octopus-lady-section-a .text-block,
#octopus-lady-section-b .text-block {
    color: var(--primary-text-light);
}

#octopus-lady-section-a .text-block {
    background-color: #942d3a;
}

#octopus-lady-section-b .text-block {
    background-color: #942d3a;
}

@media only screen and ( min-width: 1440px ) {
    #octopus-lady-section-a > .section-border {
        box-shadow: 0 0 0 40px #942d3a inset;
        -webkit-box-shadow: 0 0 0 40px #942d3a inset;
        -moz-box-shadow: 0 0 0 40px #942d3a inset;
    }

    #octopus-lady-section-b > .section-border {
        box-shadow: 0 0 0 180px #942d3a inset;
        -webkit-box-shadow: 0 0 0 180px #942d3a inset;
        -moz-box-shadow: 0 0 0 180px #942d3a inset;
    }
}



